#nav {
	width: 100%;
	height: 7rem;
	background-color: #dbb4ff;
	display: flex;
	border-bottom: #cccccc double 2px;
}

.logo {
	width: 15rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 10rem;
	height: 4rem;
}

.side-nav {
	width: 100%;
	height: 7rem;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: flex-end;
}

.question {
	width: 20rem;
	height: 7rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: #f7eeff;
	font-family: "Nanum Gothic", sans-serif;
}

.login {
	width: 15rem;
	height: 7rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: #f7eeff;
	font-family: "Nanum Gothic", sans-serif;
}

.btn1 {
	background-color: #a451f7;
	border-radius: 10rem;
	cursor: pointer;
	padding: 1rem;
	color: white;
	border-style: none;
}

section {
	width: 100%;
	height: 340rem;
	background-color: orange;
}

.container-svg1 {
	width: 100%;
	height: 40rem;
	background-color: #dbb4ff;

	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

.introduce {
	width: 40rem;
	height: 60rem;
}
.svg1 {
	width: 80rem;
	height: 60rem;
}

.wrap-intro {
	width: 70rem;
	height: 30rem;
}

.nav-text {
	font-size: 5rem;
	color: #f7eeff;
}

.nav-text2 {
	font-size: 5rem;
	color: #a451f7;
}

.svg1 {
	width: 80rem;
	height: 60rem;
}

.container-svg2 {
	width: 100%;
	height: 30rem;
	background-color: #a451f7;
}

.logo2 {
	width: 12rem;
	height: 7.5rem;
	background-color: #f7eeff;
	border-radius: 1rem;
	padding: 1rem;
}

.logo2 img {
	width: 10rem;
	height: 5rem;
}

.wrap-logo2 {
	width: 20rem;
	height: 36rem;

	display: flex;
	align-items: flex-end;
}

#advantages {
	width: 100%;
	height: 50rem;
	background-color: lightgray;
}

#text {
	width: 100%;
	height: 40rem;
	background-color: lightgreen;
}

.flying-books {
	width: 100%;
	height: 50rem;
	background-color: magenta;
}

#best-seller {
	width: 100%;
	height: 40rem;
	background-color: blue;
}

#new-books {
	width: 100%;
	height: 40rem;
	background-color: pink;
}

#audio-books {
	width: 100%;
	height: 40rem;
	background-color: mediumspringgreen;
}

#md-books {
	width: 100%;
	height: 40rem;
	background-color: mediumvioletred;
}

#reference {
	width: 100%;
	height: 20rem;
	background-color: oldlace;
}
