#nav {
	width: 100%;
	height: 7rem;
	background-color: #dbb4ff;
	display: flex;
	border-bottom: #cccccc double 2px;
}

.logo {
	width: 15rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 10rem;
	height: 4rem;
}

.side-nav {
	width: 100%;
	height: 7rem;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: flex-end;
}

.question {
	width: 20rem;
	height: 7rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: #f7eeff;
	font-family: "Nanum Gothic", sans-serif;
}

.login {
	width: 15rem;
	height: 7rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: #f7eeff;
	font-family: "Nanum Gothic", sans-serif;
}

.btn1 {
	background-color: #a451f7;
	border-radius: 10rem;
	cursor: pointer;
	padding: 1rem;
	color: white;
	border-style: none;
}

section {
	width: 100%;
	height: 400rem;
	background-color: orange;
}

.container-svg1 {
	width: 100%;
	height: 40rem;
	background-color: #dbb4ff;

	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

.introduce {
	width: 60rem;
	height: 60rem;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 90px;
	align-items: flex-end;
	justify-content: flex-end;
}
.svg1 {
	width: 300rem;
	height: 60rem;
}

.svg1-box {
	width: 100rem;
	height: 60rem;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	top: 100px;
}

.wrap-intro {
	width: 70rem;
	height: 30rem;
}

.nav-text {
	font-size: 5rem;
	color: #f7eeff;
}

.nav-text2 {
	font-size: 5rem;
	color: #a451f7;
}

.svg1 {
	width: 80rem;
	height: 60rem;
}

.container-svg2 {
	width: 100%;
	height: 30rem;
	background-color: #f7eeff;
}

.logo2 {
	width: 12rem;
	height: 7.5rem;
	background-color: #f7eeff;
	border-radius: 1rem;
	padding: 1rem;
}

.logo2 img {
	width: 10rem;
	height: 5rem;
}

.wrap-logo2 {
	width: 20rem;
	height: 36rem;

	display: flex;
	align-items: flex-end;
}

#text {
	width: 100%;
	height: 80rem;
	background-color: lightgreen;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.advantages {
	font-size: 5rem;
	font-weight: bold;
	line-height: 8rem;
}

.advice {
	font-size: 2rem;
	line-height: 4rem;
	color: gray;
}

.contents {
	width: 100%;
	height: 50rem;
	background-color: yellow;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.benefit {
	width: 20%;
	height: 30rem;
	background-color: wheat;
	display: flex;
	flex-direction: column;
	line-height: 3rem;
	align-items: center;
	justify-content: center;
}

.benefit img {
	width: 15rem;
	height: 15rem;
}

.impact {
	font-size: 2rem;
	font-weight: bold;
}

.plain {
	font-size: 1.5rem;
	color: gray;
}
.flying-books {
	width: 100%;
	height: 150rem;
	background-color: magenta;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.box {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: gold;
}

.box-2nd {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: gold;
}

.box-3rd {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: gold;
}

#text-2nd {
	width: 100%;
	height: 50rem;
	background-color: #dbb4ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.unlimited {
	font-size: 5rem;
	font-weight: bold;
	line-height: 8rem;
}

.new-books {
	font-size: 2rem;
	line-height: 4rem;
	color: gray;
}

#best-seller {
	width: 100%;
	height: 50rem;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-best {
	width: 70%;
	height: 40rem;
	background-color: cadetblue;
}

.box-books {
	width: 100%;
	height: 30rem;
	background-color: chocolate;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-text {
	font-weight: 800;
	font-size: 2rem;
}

.book1 {
	width: 20rem;
	height: 23rem;
	background-color: cornsilk;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	cursor: pointer;
}

.book-name {
	width: 100%;
	height: 2rem;
	background-color: cyan;
}

.book2 {
	width: 20rem;
	height: 23rem;
	background-color: cornsilk;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	cursor: pointer;
}

.book3 {
	width: 20rem;
	height: 23rem;
	background-color: cornsilk;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	cursor: pointer;
}

.book4 {
	width: 20rem;
	height: 23rem;
	background-color: cornsilk;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	cursor: pointer;
}

.book5 {
	width: 20rem;
	height: 23rem;
	background-color: cornsilk;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	cursor: pointer;
}

.book6 {
	width: 20rem;
	height: 23rem;
	background-color: cornsilk;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	cursor: pointer;
}

#new-books {
	width: 100%;
	height: 40rem;
	background-color: pink;
}

#audio-books {
	width: 100%;
	height: 40rem;
	background-color: mediumspringgreen;
}

#md-books {
	width: 100%;
	height: 40rem;
	background-color: mediumvioletred;
}

#reference {
	width: 100%;
	height: 20rem;
	background-color: oldlace;
}
